{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="text-center">
    <h1>Admin Panel</h1>
</div>

<div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Data table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Pie chart</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="home">
            {% include 'account/data_table.html' with users=users my_filter=my_filter %}
        </div>
        <div class="tab-pane container fade" id="menu1">
            {% include 'account/pie_chart.html' with labels=labels data=data %}
        </div>
    </div>
</div>
{% endblock %}